<% provide(:title, "Administration") %>

<section id="admin-title">
  <h1>Administration</h1>
</section>

<section id="admin-container">

  <section id="admin-inner-container">
    <h2><%= link_to "Manage post categories", "/admin/categories" %></h2>
    <h2><%= link_to "Manage works", "/admin/works" %></h2>
    <h2><%= link_to "Manage posts", "/admin/posts" %></h2>
    <h2><%= link_to "Manage users", "/admin/users" %></h2>  
  </section>

</section>