<h4>Form is for <%= set_human_locale(I18n.locale) %> language.
  Add translations:
  <% I18n.available_locales.each do |locale| %>
    <% unless locale == I18n.locale %>
      <%= link_to set_human_locale(locale), {:locale => locale} %>  
    <% end %>
	<% end %>
</h4>