	<section id="footer">
		<div class="wrap">
			<h3>Contact us</h3>
			<table id="footer-table">
				<tr>
					<th>Address</th>
					<th>Telephone</th>
					<th>Email</th>
				</tr>
				<tr>
					<td>Legerova 39/1490 12000<br>Praha 2, Czech republic</td>
					<td>+420 775 500 447</td>
					<td><a href="mailto:mighty@creations.cz">mighty@creations.cz<a></td>
				</tr>
			</table>
		</div>
	</section>