<section id="footer">
  <div class="wrap">
    <h3><%= I18n.t(:contact_us) %></h3>
    <table id="footer-table">
      <tr>
        <th><%= I18n.t(:address) %></th>
        <th><%= I18n.t(:telephone) %></th>
        <th><%= I18n.t(:email) %></th>
      </tr>
      <tr>
        <td>Legerova 39/1490 12000<br>Praha 2, Czech republic</td>
        <td>+420 775 500 447</td>
        <td><a href="mailto:mighty@creations.cz">mighty@creations.cz<a></td>
      </tr>
    </table>
  </div>
</section>