<div id="top-pic">
  <section id="sec">
    <div class="wrap">
      <div class="box colour1">
        <div class="contacts_text_bold"><%= I18n.t(:main_top_pic_title) %></div>
        <p><%= I18n.t(:main_top_pic_text_1) %></p>
        <p><%= I18n.t(:main_top_pic_text_2) %></p>
      </div>
    </div>
    <div class="clear"></div>
  </section>
</div>