<div id="top-pic">
	<section id="sec">
		<div class="wrap">
			<div class="box colour1">
				<h1> We want your money</h1>
				<p>Driving this road down to paradise,
				letting the sunlight into my eyes our only plan is to improvise and it's crystal clear 
				that I don't ever want it to end.</p>
				<p>If I had my way, I would never leave, keep building these random memories turning our
				days into melodies. But since I can't stay, I'll just keep playing back these fragments of time.
				Everywhere I go, these moments will shine. I'll just keep playing back these fragments of time. 
				Everywhere I go, these moments will shine.</p>
			</div>
		</div>
		<div class="clear"></div>
	</section>
</div>