<div id="top-pic">
  <section id="sec">
    <div class="wrap">
      <div class="box colour1">
        <h1><%= I18n.t(:work_top_pic_title) %></h1>
        <p><%= I18n.t(:work_top_pic_text_1) %></p>
        <p><%= I18n.t(:work_top_pic_text_2) %></p>
      </div>
    </div>
    <div class="clear"></div>
  </section>
</div>