<div class="post-part">
  <%= raw(@post.description) %>
</div>
<div class="post-image"> 
  <% @post.photos.each do |photo| %>
    <% if photo.portfolio? %>
      <%= image_tag photo.image_url.to_s %>
      <div class="post-image-name"><%= photo.name %></div>
    <% end %>
  <% end %>
</div>