/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  margin:0;
  padding:0;
  background-color:#fff;
  color:#535353;
  font-family: 'gotham_proregular';
}

#all-signout {
  position:absolute;
  top:0;
  right:0;
}

#header {
  height: 146px;
  width: 100%;
  overflow:hidden;
}

.logo {
  position:absolute;
  top: 0px;
  left: 90px;
  z-index:9999;
}

#logo_pic {
  height: 146px;
  width: 119px;
}

.top_space {
  background-color:#fff;
  height: 93px;
  position:absolute;
  top:0;
  width:100%;
  vertical-align:middle;
}

.top_label {
  background-color:#fff;
  position: relative;
  margin-left: 260px;
  top:50%;
  margin-top:-16px;
  vertical-align:middle;
  text-transform: uppercase;
  font-size: 29px;
  letter-spacing: 2px;
}

/* Navigation */

#nav {
  text-transform: uppercase;
  position:absolute;
  top:93px;
  width: 100%;
  background-color: #000;
  height: 53px;
}

.site_navigation {
  margin-left: 260px; 
}

.site_navigation > ul {
  list-style:none;
}

.site_navigation ul li {
  display: inline;
  padding-right: 7%;
  color:#EF1B70;
  font-size:30px;
}

.site_navigation a, a:visited {
  text-decoration:none;
  border-bottom: 1px solid #4b4b4b;
  color:#9e9e9e;
  text-align:left;
}

.site_navigation a:hover {
  color:#46c4f0;
  border-bottom: 1px solid #0081ae;
}

/* HELPERS FOR CHANGE AUTO STYLE IN NAVIGATION */

.nav-active a {
  color:red;
  font-size: 30px;
}

.nav-nonactive a {
  color:yellow;
  font-size: 30px;
}

/* Section with image and block on main and static pages */

#sec {
  position:relative;
  padding: 3.75em 0;
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.bg_image1 #sec {
  background-image: url(/assets/bg_1.jpg);
}

.wrap {
  margin: 0 12%;
  text-align: center;
  width: 90%;
  max-width: 1140px;
  height: 100%;
  position: relative;
}

.box {
  max-width: 65%;
  color: #ffffff;
  text-align: left;
  padding: 1.6em 2.2em 3em 2.5em;
  opacity: 1;
}

.box.colour1 {
  background: #42c7f5;
  background: rgb(66,199,245);
  background: rgba(66,199,245, 0.95);
}

#work {
  width:100%;
  padding: 3em 0;
  background-color:#fff;
}

/* Top image */

#top-pic {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.clear {
  clear: both;
}

/* Images teasers */

#teasers {
  margin-top:1.6em;
  position:relative;
  width:100%;
  overflow: hidden;
  vertical-align:top;
}

#teasers .teaser-pic {
  border: none;
}

#teasers .wrap {
  margin: 40px 1% 10px 1%;
  min-height:260px;
  width:14%;
  display:inline-block;
  overflow:hidden;
  vertical-align:top;
}

#teasers img {
  border:none;
  width:260px;
  height:260px;
}

#teasers-wrapper {
  width: 96%;
  margin-left:2%;
  margin-right:2%;
  vertical-align:top;
  text-align: center;
}

.teaser-descr {
  margin-top:1em;
  margin-left: auto;
  margin-right: auto;
  height:100%;
  width: 260px;
}


/* Social buttons */

#soc-text {
  padding-top:1.3em;
  font-family: Gotham Pro medium, sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 2px;
  margin: 2em 0 1em 0;
}

#soc-icons .soc-link {
  border: none;
  text-decoration: none;
  margin: 0 1em 0 1em;
}

#soc-nets {
  background-color:#4ccaf6;
  color:#fff;
  text-align: center;
  width:100%;
  height:200px;
}


/* Footer */

#footer {
  background-color:#000;
  color:#fff;
  width:100%;
}

#footer a {
  color:#fff;
  border-bottom: 1px solid #858585;
}

#footer .wrap {
  width:70%;
  height:100%;
  margin: 0 auto 0 auto;
  padding: 1em 0 2em 0;
  text-align:left;
}

#footer-table {
  border:none;
  border-spacing:0;
  padding:0;
  width:100%;
  text-align:left;
  vertical-align:top;
  font-size:0.9em;
}

#footer-table td {
  padding-top:0.3em;
  vertical-align:top;
}


/* Drop-down menu */

#jmenu {
  width: 70px;
  padding-right:30px;
  position: relative;
  top: -58px;
  height: 100%;
  text-align:left;
  float:right;
}

#jmenu ul {
  display: none;
  z-index: 1000;
}
 
#jmenu li {
  background:none repeat scroll 0 0 #000000;
  border:none;
  color:#9e9e9e;
  cursor:default;
  display:block;
  float:left;
  padding:10px;
  position:relative;
  z-index: 1000;
  width:24px;
}
 
#jmenu .secondary-jmenu {
  right:0px;
  position:absolute;
  top:38px;
  display: none;
}
 
.secondary-jmenu li {
  width: 24px; 
}

.secondary-jmenu li a {
  color:#9e9e9e;
}

.secondary-jmenu li:hover a {
   color: white !important;  
}

.selected {
  color: white !important;
  background: #ef1b70 !important;
}


.selected a:hover {
  color: white !important;
}


/* Breakpoints for responsive pages */

@media only screen and (max-width : 2500px),
only screen and (max-device-width : 2500px){
    #teasers .wrap {width:11%;}
}

@media only screen and (max-width : 2200px),
only screen and (max-device-width : 2200px){
    #teasers .wrap {width:14%;}
}

@media only screen and (max-width : 1920px),
only screen and (max-device-width : 1920px){
    #teasers .wrap {width:17%;}
}

@media only screen and (max-width : 1600px),
only screen and (max-device-width : 1600px){
    #teasers .wrap {width:21%;}
}

@media only screen and (max-width : 1200px),
only screen and (max-device-width : 1200px){
    #teasers .wrap {width:26%;}
}

@media only screen and (max-width : 1070px),
only screen and (max-device-width : 1070px){
    .top_label{ display:none;}
}

@media only screen and (max-width : 940px),
only screen and (max-device-width : 940px){
    #teasers .wrap {width:40%;}
}

@media only screen and (max-width : 600px),
only screen and (max-device-width : 600px){
    #teasers .wrap {width: 100%;}
}

