// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#posts {
	width: 500px;
	height:auto;
	margin: 50px auto 50px auto;
}

.active {
	color: white;
	background-color: #ef1b70;
}

a.active {
	color: white;
	padding: 5px 10px;
	background-color: #ef1b70;
}

.nonactive {
	color: blue;
}

a.works-menu {
	color: #4CCAF6;
	padding: 5px 10px;
}

.test-spisok ul li {
	display:inline;
}

.fullwidth_pic {
	width:100%;
	height:200px;
}

.full img {
  width:100%;
  max-height: 200px;
}

a.post-title {
	color: #4CCAF6;
}

.item-title {
	color: #4CCAF6;
}