// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#posts {
	width: 500px;
	height:auto;
	margin: 100px auto 0px auto;
}

.newpost-form {
	
}

