// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
    font-family: 'gotham_proregular';
    src: url('gothaproreg-webfont.eot');
    src: url('gothaproreg-webfont.eot?#iefix') format('embedded-opentype'),
         url('gothaproreg-webfont.woff') format('woff'),
         url('gothaproreg-webfont.ttf') format('truetype'),
         url('gothaproreg-webfont.svg#gotham_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
  color:#fff;
  font-weight:bold;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 2px;
}

.about-container {
	width:900px; 
	margin: auto;
  padding-top:20px;
}

.about-container h1 {
	font-size: 40px;
  color: #535353;
}

.contact-container {
	width:700px; 
	margin: 50px auto;
}

#contacts {
  margin: 30px 5% 30px 12%;
  padding: 20px 0 20px 0;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 2px;
  font-weight:bold;
  width: 80%;
  text-align: center;
}

#left_column {
  padding: 0 20px 0 0;
  vertical-align: top;
  text-align:right;
  color: #535353;
  display:inline-block;
}

.contacts_text {
  margin: 15px 0;
}

.contacts_text a {
  color: #51C9F2;
}

.contacts-text-phone {
  letter-spacing: 0px;
}

#right_column {
  padding: 0 0 0 20px;
  text-align:left;
  color: #51c9f2;
  display:inline-block;
  width: 60%
}