// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.all-link {
	background-color: red;
	padding: 5px 10px;
	color: red;	
}

.all-link {
	background-color: red;
} 