// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.all-link {
	background-color: #ef1b70;
	padding: 5px 10px;
}

.all-link {
	background-color: #ef1b70;
} 

.work-show-name {
	width: 200px; 
	margin:auto;
}

.work-show-table {
	width: 600px; 
	margin:auto;
}

.work-show-signin {
	width: 600px; 
	margin: auto;
}

.work-index-container {
	width: 80%; 
	margin: 30px 10%; 
	text-align: center;
}

.work-index-inner-container {
	width: 60%; 
	margin: auto; 
	text-align: center;
}

.work-index-inner-container ul li {
	display: inline;
}